* {
    background-color: beige;
}

.main-container{
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.selection-container{
    width: 300px;
    min-width: 300px;
    background-color: black;
    min-height: 200px;
    display: block;
    padding: .5%;
}

.view-container img{
    width: auto;
    height: auto;
    max-width: 400px;
    background-color: blue;
}
.selection-item{
    margin-top: 5%;
    background-color: blueviolet;
    border-radius: 5px;
    padding: 0px;
}

.selection-container img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    padding: 1.5%;
    display: inline;
}

.selection-item-text{
    display: inline;
    margin-left: 10%;
    border-radius: 5px;
    padding: 1.5%;
    font-size: x-large;
    align-items: center;
}
