body {
    background-image: linear-gradient(90deg, #b6b6b6 0%, #ffffff 35%, #ebebeb 100%);
}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.selection-container{
    min-width: 300px;
    min-height: 200px;
    display: inline;
    padding: .5%;
}

.view-container {
    width: 400px;
    border-radius: 2%
}

.view-container img{
    width: auto;
    height: auto;
    min-width: 400px;
    max-width: 400px;
    border-radius: 2%
}

.selection-item{
    width: 300px;
    margin-top: 2%;
    background-color: transparent;
    border-radius: 5px;
    padding: 0px 10px 8px 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
   
    
}

.selection-item-element-image{
    height: 40px;
    width: 40px;
    border-radius: 10%;
}

.selection-item-element{
    margin-top: 5%;
    background-color: transparent;
    border-radius: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-self: center;
}


input
{
    background: transparent;
    border: none;
}